@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.max-width {
  max-width: 1200px;
}

.main {
  box-sizing: border-box;
  background: #ffffff url('../img/main-bg.jpg') center center no-repeat;
  background-size: cover;
  padding: 30px 0px;
}

.header {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center
}

.logo-text {
  margin-left: 20px;
}

.logo-text strong {
  margin: 0;
  text-transform: uppercase;
  display: block;
}

.phone-link {
  display: inline-block;
  color: #1a1820;
  font-weight: bold;
}

.header-btn {
  box-sizing: border-box;
  padding: 14px 30px;
  border-radius: 5px;
  background-color: #fcb303;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  transition: all 0.2s;
  outline: none;
}

.header-btn:hover {
  background-color: #fcbb1c;
  cursor: pointer;
  color: #000;
  box-shadow: 1px 1px 10px;
}

.main-content {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
}

.main-title h1 {
  line-height: 1.4;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
}

.main-title span {
  box-sizing: border-box;
  margin-top: 20px;
  text-align: center;
  line-height: 1.6;
  display: inline-block;
  padding: 20px 50px;
  font-size: 20px;
  background-color: #70c849;
  color: #ffffff;
}

.main-title strong {
  font-size: 28px;
}

.main-text {
  margin-top: 40px;
  font-size: 24px;
}

.main-price {
  margin-top: 30px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.main-form {
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
  background-color: #ffffff;
}

.main-form h2 {
  margin-bottom: 40px;
  font-size: 18px;
  text-align: center;
}

.main-form small {
  display: block;
  margin-top: 20px;
}

.main-form-input {
  box-sizing: border-box;
  margin: 20px 0px;
  display: block;
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 15px;
}

.main-form label {
  position: absolute;
  display: inline-block;
  transform: translateX(-50%) translateY(-50%);
  padding: 3px;
  background-color: #ffffff;
}

.main-form-btn {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  display: block;
  background-color: #fcb303;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
}

.main-form-btn:hover {
  cursor: pointer;
}

.features {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin: 100px auto;
}

.section-header {
  font-size: 40px;
  margin: 100px auto;
  margin-top: 0;
  text-align: center;
  font-weight: bold;
}

.features-slider {
  display: flex;
  flex-wrap: wrap;
}

.features-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  text-align: center;
}

.features-img {
  height: 60px;
  text-align: center;
}

.features h3 {
  font-size: 20px;
  margin: 20px 0;
  font-weight: bold;
  margin-top: 30px;
}

.features p {
  margin: 0;
  font-size: 16px;
}

.slick-active {
  outline: none;
}

.bc {
  background-color: #005e00;
}

.price {
  box-sizing: border-box;
  width: 100%;
  padding: 60px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.price-header {
  text-align: center;
}

.price-header h2 {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.price-header p {
  color: #fff;
}

.btn-price {
  box-sizing: border-box;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fcb303;
  color: #ffffff;
  margin: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.btn-price:hover {
  border: 1px solid #fff;
}

.price-blocks {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.price-block {
  position: relative;
  box-sizing: border-box;
  width: 30%;
  padding: 20px;
  padding-bottom: 90px;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

.price-block h4 {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.price-img img {
  width: 100%;
  margin-top: 20px;
}

.price-block span {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.price-block ul {
  font-size: 18px;
  list-style: none;
  padding: 0;
}

.btn-price-block {
  box-sizing: border-box;
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  padding: 15px 40px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fcb303;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.bc-contacts {
  background: url("../img/contacts-bg.jpg") center no-repeat;
  background-size: cover;
}

.contacts {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 46px;
  font-weight: bold;
}

.contacts p {
  font-size: 18px;

}

.myIFrame {
  width: 600px;
  height: 300px;
  border: none;
}

.footer {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
}

.footer-contacts {
  display: block;
  text-align: center;
  margin-left: 200px;
}

.footer-contacts p {
  margin: 0;
}

@media (max-width: 1200px) {
  .max-width {
    max-width: 1000px;
  }

  .features-block {
    width: 50%;
  }

  .features-block h3 {
    font-size: 28px;
  }

  .features-block p {
    font-size: 18px;
  }

  .features-block:nth-child(n + 3) {
    margin-top: 40px;
  }
}

@media (max-width: 992px) {
  .max-width {
    max-width: 800px;
  }

  .main-content {
    flex-direction: column;
  }

  .main-title {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }

  .main-content {
    margin-top: 30px;
  }

  .price-header h2 {
    font-size: 30px;
  }

  .price-header p {
    font-size: 26px;
  }

  .price-header button {
    font-size: 20px;
  }

  .price-blocks {
    flex-direction: column;
  }

  .price-img {
    width: 80%;
  }

  .price-block {
    margin-top: 40px;
    width: 100%;
  }

  .price-block:first-child {
    margin-top: 0;
  }

  .price-block span,
  .price-block ul,
  .price-block h4 {
    font-size: 28px;
  }

  .btn-price-block {
    font-size: 24px;
    width: 80%;
    text-align: center;
  }

  .myIFrame {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .max-width {
    max-width: 600px;
  }

  .header {
    flex-direction: column;
  }

  .logo {
    flex-direction: column;
    text-align: center;
  }

  .phone-link {
    margin-top: 20px;
  }

  .header-btn {
    margin-top: 20px;
    font-size: 18px;
  }

  .main-title h1 {
    font-size: 26px;
  }

  .section-header {
    margin: 0px;
    font-size: 34px;
  }

  .features-slider {
    flex-direction: column;
  }

  .features-block {
    width: 100%;
    margin-top: 40px;
  }

  .price-header h2 {
    font-size: 24px;
  }

  .price-header p {
    font-size: 20px;
  }

  .price-header button {
    font-size: 16px;
  }

  .features-block h3 {
    font-size: 28px;
  }

  .features-block p {
    font-size: 20px;
  }

  .price-block span,
  .price-block ul,
  .price-block h4 {
    font-size: 20px;
  }

  .btn-price-block {
    font-size: 18px;
  }

  .footer-contacts {
    margin-left: 0;
  }
}